{% load utils %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MCP | Toontown Rewritten</title>

    <!-- Bootstrap and Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/font-awesome.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/morris.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/perfect-scrollbar.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/toastr.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/bootstrap-datetimepicker.min.css" %}" type="text/css" rel="stylesheet" />

    <!-- google font libraries -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

    <!-- MCP Styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/mcp/layout.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/mcp/elements.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/mcp/mcp.css" %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "img/mcp/favicons/favicon.ico" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/mcp/favicons/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/mcp/favicons/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/mcp/favicons/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/mcp/favicons/apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/mcp/favicons/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/mcp/favicons/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/mcp/favicons/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/mcp/favicons/apple-touch-icon-152x152.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/mcp/favicons/favicon-196x196.png" %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static "img/mcp/favicons/favicon-160x160.png" %}" sizes="160x160">
    <link rel="icon" type="image/png" href="{% static "img/mcp/favicons/favicon-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "img/mcp/favicons/favicon-16x16.png" %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static "img/mcp/favicons/favicon-32x32.png" %}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{% static "img/mcp/favicons/mstile-144x144.png" %}">
    <meta name="msapplication-config" content="{% static "img/mcp/favicons/browserconfig.xml" %}">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="TTR MCP">

    <script data-main="{% static "js/mcp/main.js" %}" src="{% static "lib/require.js" %}"></script>
</head>
<body>

    <header class="navbar" id="header-navbar">
        <div class="container">
            <a href="#" id="logo" class="navbar-brand">
                <img src="{% static "img/mcp/logo-mcp.png" %}" alt="" class="normal-logo logo-white"/>
                <img src="{% static "img/mcp/logo-mcp-black.png" %}" alt="" class="normal-logo logo-black"/>
            </a>

            <div class="clearfix" id="navbarRegion"></div>
        </div>
    </header>

    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col"></div>

            <div id="content-wrapper">

                <div id="mainRegion"></div>

                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        Toontown Rewritten Control Panel
                    </p>
                </footer>

            </div>
        </div>
    </div>

    <script>
    //To be passed to app
    window.SITE_ROOT = '/';
    window.STATIC_ROOT = "/static/{{ version }}/";
    window.USER = {{ user|jsonencode|safe }};
    window.USER_PERMISSIONS = {{ permissions|jsonencode|safe }};
    window.PUSHER_KEY_ID = "{{ pusher_key_id }}";
    window.PUSHER_LIB = "{{ pusher_lib }}";
    </script>

</body>
</html>