<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>Panel</li>
                    <li class="active"><span>Accounts</span></li>
                </ol>

                <div class="row">
                    <div class="col-md-9">
                        <h1>Account</h1>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <button class="btn btn-primary btn-block btn-page-title" id="pat-music-toggle">Let there be music!</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="<%= util.static.pathForUserAvatar(null, account.email) %>" style="border-radius:50%;max-height: 100px">
                    </a>
                    <div class="media-body text-left" style="padding-left: 5px">
                        <h2 class="media-heading" style="margin-left:0px;padding-left:0px"><%= account.username %></h2>
                        <h4 class="media-heading"><%= account.email %></h4>
                    </div>
                </div>

            </div>
        </div>

        <div class="row account-toons">
            <% _.each(account.toons, function(toon, toon_idx){ %>
                <div class="col-md-4 text-center">
                    <div class="toon-picker" <% if (!toon){ %>style="opacity:0.5"<% } %>>
                        <div class="toon-picker-bg" style="background-color: rgb(<%= pat_styles[toon_idx].background %>);-ms-transform: rotate(<%= pat_styles[toon_idx].rotation %>deg);-webkit-transform: rotate(<%= pat_styles[toon_idx].rotation %>deg);transform:rotate(<%= pat_styles[toon_idx].rotation %>deg);"></div>
                        <% if (toon){ %>
                            <h4 class="toon-name"><%= toon.name %></h4>
                            <img class="toon-head" src="<%= STATIC_ROOT %>img/mcp/default_avatar.png" />
                            <h4 class="toon-picker-text view-toon">VIEW THIS TOON</h4>
                        <% }else{ %>
                            <h4 class="toon-picker-text">NO TOON YET</h4>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>