<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>Panel</li>
                    <li><a href="#" id="back_to_accounts">Accounts</a></li>
                    <li class="active"><span><%= account.username %></span></li>
                </ol>

                <h1>Account</h1>
            </div>
        </div>

        <div class="row account-profile" id="user-profile">
            <div class="col-md-3">
                <div class="main-box">
                    <header class="main-box-header">
                        <h2><%= account.username %></h2>
                    </header>

                    <div class="main-box-body">

                        <img class="profile-img img-responsive center-block" src="<%= util.static.pathForUserAvatar(null, account.email) %>" style="max-height: 150px" />

                        <div class="account-profile-labels">
                            <% _.each(account.labels, function(label){ %>
                            <div class="profile-label">
                                <span class="label label-<%= label.type %>" <% if (label.color){ %>style="background-color: <%= label.color %>;"<% } %>><%= label.label %></span>
                            </div>
                            <% }) %>
                        </div>

                        <div class="text-center">
                            <%= account.email %>
                        </div>

                        <div class="profile-since">
                            Member since: <%= util.moment(account.register_date).format('MMMM Do, YYYY') %>
                        </div>

                        <div class="profile-details">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-user"></i>ID: <%= account.id %></li>
                                <li><i class="fa-li fa fa-gamepad"></i>GS ID: <%= account.gs_id %></li>
                            </ul>
                        </div>

                        <div class="profile-message-btn center-block text-center">
                            <a href="#" class="btn btn-primary" disabled="disabled">
                                <i class="fa fa-key"></i>
                                Issue New Beta Key
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9 account-toons">
                <% _.each(account.toons, function(toon, toon_idx){ %>
                <div class="col-md-4 col-sm-6 text-center">
                    <div class="panel panel-toon" <% if (toon){ %>data-avatar-id="<%= toon.avatar_id %>"<% } %> style="border-color: rgba(<%= pat_styles[toon_idx].background %>, 0.6);" data-idx="<%= toon_idx %>">
                        <div class="panel-heading" style="background-color: rgba(<%= pat_styles[toon_idx].background %>, 0.45);border-bottom-color: rgba(<%= pat_styles[toon_idx].background %>, 0.6);">
                            <%= toon ? toon.name : 'No Toon Yet' %>
                        </div>
                        <div class="panel-body" style="background-color: rgba(<%= pat_styles[toon_idx].background %>, 0.1);">
                            <% if (toon){ %>
                            <img class="toon-head" src="<%= STATIC_ROOT %>img/mcp/default_avatar.png" />
                            <p class="laff"><%= toon.hp %> / <%= toon.maxHp %></p>
                            <p class="species"><%= toon.species %></p>
                            <% }else{ %>
                            <p class="no-toon">There is no toon here yet!</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>