<div class="main-box leaderboards clearfix profile-box-menu">
    <div class="main-box-body clearfix">
        <div class="profile-box-header green-bg clearfix">
            <div class="leaderboards-title">
                <h3>Leaderboards</h3>
                <div class="leaderboard-toggles">
                    <a href="#" data-mode="daily" <% if (mode == "daily"){ %>class="active"<% } %>>Daily</a>
                    <a href="#" data-mode="weekly" <% if (mode == "weekly"){ %>class="active"<% } %>>Weekly</a>
                    <a href="#" data-mode="all_time" <% if (mode == "all_time"){ %>class="active"<% } %>>All Time</a>
                </div>
            </div>
            <% if (leaders && leaders[0]){ %>
            <img src="<%= static.pathForUserAvatar(leaders[0].user.avatar) %>" alt="" class="profile-img img-responsive" />
            <h2><%= leaders[0].user.mini_name %></h2>
            <div class="leaderboard-top-points">
                <%= leaders[0].points %>
            </div>
            <% } %>
        </div>

        <div class="profile-box-content clearfix">
            <ul class="menu-items leaderboard-runners-up">
                <% if (leaders){ %>
                <% for (var l = 1; l < 5; l++){ %>
                    <% if (leaders[l]) { %>
                    <li>
                        <img src="<%= static.pathForUserAvatar(leaders[l].user.avatar) %>" alt="" class="profile-img img-responsive" />
                        <p><%= leaders[l].user.mini_name %></p>
                        <p class="leaderboard-runner-up-points"><%= leaders[l].points %></span>
                    </li>
                    <% }else{ %>
                    <li>
                        <p style="padding-left:10px">No one yet!</p>
                    </li>
                    <% } %>
                <% } %>
                <% }else{ %>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>