<div class="col-md-12" id="moderation-comments">
    <div class="moderation-comment main-box">
        <p class="moderation-comment-text">Posted by <strong><%= author %></strong> in regards to <strong><%= post %></strong></p>
        <p class="moderation-comment-text"><%= body %></p>
        <div class="moderation-comment-action approve"><i class="fa fa-check"></i><p>Approve</p></div>
        <div class="moderation-comment-action reject"><i class="fa fa-times"></i><p>Reject</p></div>
    </div>
</div>