<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>Panel</li>
                    <li class="active"><span>Accounts</span></li>
                </ol>

                <h1>Account</h1>
            </div>
        </div>

        <div class="row account-profile" id="user-profile">
            <div class="col-md-3">
                <div class="main-box">
                    <header class="main-box-header">
                        <h2><%= toon.name %></h2>
                    </header>

                    <div class="main-box-body">

                        <img class="profile-img img-responsive center-block" src="<%= util.static.pathForUserAvatar(null, null) %>" style="max-height: 150px" />

                        <div class="text-center">
                            <%= toon.hp %> / <%= toon.maxHp %>
                        </div>

                        <div class="profile-since">
                            <%= _.humanize(toon.dna.species) %>
                        </div>

                        <div class="profile-since">
                            Last seen: <%= util.moment(toon.lastSeen * 1000).fromNow() %>
                        </div>

                        <div class="profile-details">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-user"></i>Avatar ID: <%= toon.id %></li>
                            </ul>
                        </div>

                        <div class="profile-message-btn center-block text-center">
                            <a href="#" class="btn btn-danger" disabled="disabled">
                                <i class="fa fa-ban"></i>
                                Revoke Toon Name
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9 account-toons">
                <p>Toon information from Kibana will appear here soon!</p>
            </div>
        </div>
    </div>
</div>