/* General Adjustments */
div#content-wrapper{
    min-height: 300px;
}
.btn-page-title{
    max-width: 200px;
    float: right;
    margin-bottom: 15px;
}
@media(max-width: 991px){
    .btn-page-title{
        float: none;
    }
}

/* Widget with Nav Tabs and Button */
.nav.nav-tabs.nav-with-button{
    position: relative;
}
.nav.nav-tabs.nav-with-button > button{
    position: absolute;
    right: 10px;
    top: 5px;
}

/* Dashboard Bulletins */
.bulletin-inner {
	padding: 0 0 5px 0;
	margin-right: 10px;
}
.bulletin-item {
	padding: 5px 0;
	position: relative;
}
.bulletin-item:hover {
    cursor: pointer;
}
.bulletin-body {
	background: #f5f5f5;
	font-size: 0.875em;
	width: auto;
	margin-left: 0px;
	padding: 8px 10px;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

    transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
}
.bulletin-item:hover .bulletin-body{
    background: #e0e0e0;
}
.bulletin-body.unread{
    background-color: rgb(220,239,252);
}
.bulletin-item:hover .bulletin-body.unread{
    background: rgb(200, 219, 232);
}
.bulletin-body > .title {
	font-weight: 600;
	font-size: 1.35em;
}
.bulletin-body > .meta{
    margin-top: 3px;
}
.bulletin-body > .meta > *, .bulletin-body > .meta > .user > *{
    display: inline-block;
}
.bulletin-body > .meta > *{
    margin-right: 10px;
}
.bulletin-body > .meta > *:last-child{
    margin-right: 0px;
}
.bulletin-body > .meta > .user > img.user-avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 2px;
}
.bulletin-body > .meta > .time:before {
	content: "\f017";
	font-family: FontAwesome;
	padding-right: 3px;
}
.bulletin-body > .text {
	padding-top: 6px;
    max-height: 60px;
}

/* Reminders */
#tab-tasks{
    padding-top: 15px;
}

/* Dashboard Recent Activity */
.activity-inner {
	padding: 0 0 5px 0;
	margin-right: 10px;
}
.activity-item {
	padding: 10px 0;
	position: relative;
	border-bottom: 1px solid #EAEAEA;
}
.activity-item:last-child {
	border-bottom: none;
}
.activity-user {
	width: 30px;
	height: 30px;
	overflow: hidden;
	float: left;
	border-radius: 50%;
	margin-top: 0px;
}
.activity-user img{
    width: 100%;
    height: 100%;
}
.activity-body {
	font-size: 0.875em;
	width: auto;
	margin-left: 30px;
	padding: 0px 10px;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.activity-body > .time {
	font-size: 0.875em;
	color: #605f5f;
	font-weight: 300;
}
.activity-body > .time:before {
	content: "\f017";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	margin-top: 4px;
	font-size: 0.875em;
}

/* Comment Moderation */
.moderation-comment{
    padding: 15px 15px 7px 15px;
    position: relative;
}
.moderation-comment:hover{
    cursor: pointer;
}
.moderation-comment.done:hover{
    cursor: default;
}
.moderation-comment > .moderation-comment-text{
    color: transparent;
    text-shadow: 0px 0px 0px black;

    -moz-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    -webkit-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;
}
.moderation-comment:hover > .moderation-comment-text, .moderation-comment.done > .moderation-comment-text{
    text-shadow: 0px 0px 10px black;
}
.moderation-comment > .moderation-comment-action{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 50%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    opacity: 0;

    -moz-transition: opacity 0.15s linear, width 0.1s linear, background-color 0.15s linear;
    -o-transition: opacity 0.15s linear, width 0.1s linear, background-color 0.15s linear;
    -webkit-transition: opacity 0.15s linear, width 0.1s linear, background-color 0.15s linear;
    transition: opacity 0.15s linear, width 0.1s linear, background-color 0.15s linear;
}
.moderation-comment:hover > .moderation-comment-action{
    opacity: 1.0;
}
.moderation-comment > .moderation-comment-action > i{
    font-size: 3em;
}
.moderation-comment > .approve{
    left: 0;
    background-color: rgba(34, 139, 34, 0.6);
    color: rgba(0, 115, 0, 1.0);
    border-radius: 3px 0px 0px 3px;
}
.moderation-comment > .reject{
    right: 0;
    background-color: rgba(139, 34, 34, 0.6);
    color: rgba(115, 0, 0, 1.0);
    border-radius: 0px 3px 3px 0px
}
.moderation-comment > .approve:hover{
    background-color: rgba(64, 199, 64, 0.6);
}
.moderation-comment > .reject:hover{
    background-color: rgba(199, 64, 64, 0.6);
}
.moderation-comment > .approve:hover, .moderation-comment > .approve.selected{
    background-color: rgba(64, 199, 64, 0.6);
}
.moderation-comment > .reject:hover, .moderation-comment > .reject.selected{
    background-color: rgba(199, 64, 64, 0.6);
}
.moderation-comment > .moderation-comment-action.selected{
    width: 100%;
    opacity: 1.0 !important;
}
.moderation-comment > .moderation-comment-action.not-selected{
    opacity: 0;
}

/* Name Moderation */
.moderation-name{
    padding: 15px 15px 15px 15px;
    height: 150px;
    width: 100%;
    position: relative;
}
.moderation-name .moderation-name-table-wrapper{
    display: table;
    width: 100%;
}
.moderation-name .moderation-name-text-wrapper{
    display: table-cell;
    height: 44px;
    vertical-align: middle;
    text-align: center;
}
.moderation-name .moderation-name-text-wrapper > .moderation-name-text{
    color: transparent;
    text-shadow: 0px 0px 0px black;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 1.15em;
    font-weight: bold;

    cursor: pointer;

    -moz-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    -webkit-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;
}
.moderation-name.done .moderation-name-text-wrapper > .moderation-name-text{
    text-shadow: 0px 0px 10px black;
    cursor: default;
}
.moderation-name > .moderation-name-action{
    position: absolute;
    top: 70px;
    height: 80px;
    width: 33%;
    text-align: center;
    font-weight: bold;
    padding: 6px 10px 10px 10px;
    opacity: 1.0;

    background-color: rgba(220, 220, 220, 0.4);
    color: rgba(210,210,210,1.0);

    -moz-transition: opacity 0.15s linear, width 0.1s linear, height 0.1s linear, top 0.1s linear, background-color 0.15s linear;
    -o-transition: opacity 0.15s linear, width 0.1s linear, height 0.1s linear, top 0.1s linear, background-color 0.15s linear;
    -webkit-transition: opacity 0.15s linear, width 0.1s linear, height 0.1s linear, top 0.1s linear, background-color 0.15s linear;
    transition: opacity 0.15s linear, width 0.1s linear, height 0.1s linear, top 0.1s linear, background-color 0.15s linear;
}
.moderation-name:hover > .moderation-name-action{
    opacity: 1.0;
    cursor: pointer;
}
.moderation-name.done > .moderation-name-action{
    cursor: default;
}
.moderation-name > .moderation-name-action > i{
    font-size: 3em;
}
.moderation-name > .approve{
    left: 0;
    border-radius: 0px 0px 0px 3px;
}
.moderation-name > .reject{
    right: 0;
    border-radius: 0px 0px 3px 0px
}
.moderation-name > .discuss{
    left: 33%;
    width: 34%;
}
.moderation-name > .approve:hover, .moderation-name > .approve.selected{
    background-color: rgba(64, 199, 64, 0.6);
    color: rgba(0, 115, 0, 1.0);
}
.moderation-name > .reject:hover, .moderation-name > .reject.selected{
    background-color: rgba(199, 64, 64, 0.6);
    color: rgba(115, 0, 0, 1.0);
}
.moderation-name > .discuss:hover, .moderation-name > .discuss.selected{
    background-color: rgba(101, 193, 255, 0.6);
    color: rgba(0, 0, 115, 1.0);
}
.moderation-name > .moderation-name-action.selected{
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 1.0 !important;
    border-radius: 3px;
}
.moderation-name > .moderation-name-action.not-selected{
    opacity: 0;
}
@media(max-width:420px){
    .moderation-name > .moderation-name-action{
        font-size: 1.15em;
    }
}

/* Morris Graphs */
.graph-box h2{
    margin-bottom: 0px;
}
.morris-hover{
    position: absolute;
    z-index: 1000;
}
.morris-hover.morris-default-style{
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255,255,255,0.8);
    border: solid 2px rgba(230,230,230,0.8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label{
    font-weight: bold;
    margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point{
    white-space: nowrap;
    margin: 0.1em 0
}
.graph-title{
    display: inline-block;
}
.graph-toggles{
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}
.graph-toggles > a{
    color: rgba(255,255,255,0.7);
    font-weight: bold;
    display: inline-block;
    margin-left: 6px;
}
.graph-toggles > a:hover{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}
.graph-toggles > a.active{
    color: white;
}
@media(max-width:550px){
    .graph-toggles{
        float:none;
        margin-left: 6px;
    }
}

/* Guidelines */
ul.guidelines{
    padding: 10px;
}
ul.guidelines > li{
    display: block;
    margin-bottom: 15px;
}
ul.guidelines > li p{
    margin-bottom: 0px;
}
ul.guidelines > li > p:first-child{
    font-weight: bold;
}
ul.guidelines > li > p.examples{
    color: #888;
    font-size: 0.9em;
}
@media(min-width:550px){
    ul.guidelines{
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

/* Leaderboards */
.leaderboards .profile-box-header{
    padding: 15px;
    min-height: 200px;
}
.leaderboards .leaderboards-title h3{
    border: none;
    margin-top: 0px;
    margin-bottom: 7px;
}
.leaderboards .leaderboard-toggles{
    margin-bottom: 10px;
}
.leaderboards .leaderboard-toggles > a{
    color: rgba(255,255,255,0.7);
    font-weight: bold;
    display: inline-block;
    margin-left: 6px;
}
.leaderboards .leaderboard-toggles > a:hover{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}
.leaderboards .leaderboard-toggles > a.active{
    color: white;
}
.leaderboards .leaderboard-runners-up li{
    position: relative;
    height: 62px;
    display: block;
    border-bottom: 1px solid #EAEAEA;
}
.leaderboards .leaderboard-runners-up li:last-child{
    border-bottom: none;
}
.leaderboards .leaderboard-runners-up p{
    font-size: 1.01em;
    padding-top: 21px;
}
.leaderboards .leaderboard-runners-up img{
    width: auto;
    margin-top: 5px;
    max-height: 90%;
    margin-right: 5px;
}
.leaderboards .leaderboard-runners-up p.leaderboard-runner-up-points{
    position: absolute;
    top: 0px;
    right: 15px;
    font-weight: bold;
    color: rgb(16,174,83);
}

/* Twitter Typeahead */
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
  cursor: pointer;
}

/* Accounts */
input.account-finder{
    width: 100%;
    height: 60px;
    background-color: white !important;
}

/* Toon Picker */
.toon-picker{
    margin: 50px auto 0px auto;
    width: 250px;
    height: 250px;
    position: relative;
}
.toon-picker:hover{
    cursor: pointer;
}
.toon-picker > .toon-picker-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

    background-color: rgb(252,75,81);

    -moz-box-shadow:    inset 0px 0px 30px rgba(0,0,0,0.7), 2px 2px 7px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0px 0px 30px rgba(0,0,0,0.7), 2px 2px 5px rgba(0,0,0,0.4);
    box-shadow:         inset 0px 0px 30px rgba(0,0,0,0.7), 2px 2px 5px rgba(0,0,0,0.4);

    border-radius: 35px;
}
.toon-picker > .toon-picker-text{
    position: absolute;
    text-align: center;
    left: 10%;
    width: 80%;
    top: 85px;

    font-family: "Comic Sans MS", sans-serif;

    font-weight: bold;
    font-size: 2.1em;
    color: rgba(72,240,216, 0.5);
    text-shadow: 2px 2px 0px rgba(0, 80, 100, 0.7);
}
.toon-picker:hover > .toon-picker-text{
    color: rgb(72,240,216);
    top: 82px;
    font-size: 2.2em;
}
.toon-picker > .toon-picker-text.view-toon{
    display: none;
}
.toon-picker:hover > .toon-picker-text.view-toon{
    display: block;
    color: rgb(255,229,25);
    text-shadow: 1px 1px 2px rgb(70,60,0);
    font-size: 2.3em;
}
.toon-picker > .toon-name{
    position: absolute;
    text-align: center;
    left: 10%;
    width: 80%;
    top: 10px;

    font-family: "Comic Sans MS", sans-serif;

    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}
.toon-picker > .toon-head{
    position: absolute;
    top: 80px;
    left: 70px;

    width: 110px;
    height: 110px;

    border-radius: 50%;
}
